[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "backtest"]
	path = backtest
	url = https://github.com/dgerlanc/backtest
[submodule "bootES"]
	path = bootES
	url = https://github.com/dgerlanc/bootes
[submodule "portfolio"]
	path = portfolio
	url = https://github.com/dgerlanc/portfolio
